.aichatList {
    .list {
        display: flex;
        flex-direction: column;
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .list::-webkit-scrollbar {
        width: 8px;
    }

    .list::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
    }

    .list::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

    .list::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    .list {
        scrollbar-width: thin;
        scrollbar-color: #888 #f1f1f1;
    }

    a {
        padding: 10px;
        border-radius: 10px;

        &:hover {
            background-color: #2c2937;
        }
    }

    .upgrade {
        margin-top: auto;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 12px;

        img {
            width: 24px;
            height: 24px;
        }

        .texts {
            display: flex;
            flex-direction: column;

            span {
                &:first-child {
                    font-weight: 600;
                }

                &:last-child {
                    color: #888;
                }
            }
        }
    }
}